*
{
    font-family: cursive;
}
h1 {
    text-align: center;
    padding-top: 20px;
}
h4{
    padding-left: 20px;

}
.container
{
    display: flex;
    justify-content: space-between;
    height: 250px;
    
}

body{
    background-color: black;

}
span{
    color: aqua;
}
.d
{   
    display: flex;
    justify-content: space-between;
    padding-right: 130px;
    padding-left: 100px;
}
